{% extends 'movies/base.html' %}
{% block body %}
    <h2>{{ user.username }}</h2>
    <a href="{% url 'accounts:following' user.id %}">
    {% if request.user in user.followers.all %}
    좋아연 취소
    {% else %}
    좋아연
    {% endif %}
    </a>
    <h4>리뷰 목록</h4>
    {% for review in user.review_set.all %}
        <h4>{{ review.content }}</h4>
        <p>{{ review.score }}</p>
    {% endfor %}
    <h3>팔로워 수</h3>
    <p>{{user.followers.count}}</p>
    <h3>팔로잉 수</h3>
    <p>{{user.followings.count}}</p>  
    <h3>추천영화</h3>
    <p>이따가 조지자</p>
<a href="{% url 'accounts:index' %}"><button class="btn btn-primary"> 돌아가기</button></a>
{% endblock %}